.infinity {
	width: 220px;
	height: 100px;
	position: relative;
}

.infinity:before {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
	border: 20px solid #06c999;
	-moz-border-radius: 50px 50px 0;
	border-radius: 50px 50px 0 50px;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.infinity:after {
	content: "";
	width: 60px;
	height: 60px;
	position: absolute;
	top: 0;
	left: 120px;
	border: 20px solid #06c999;
	-moz-border-radius: 50px 50px 50px 0;
	border-radius: 50px 50px 50px 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}